# Entorno PRODUCCION (¡¡CUIDADO!! corre contra los servicios reales)
# Entorno DEV (Render + Netlify dev)
ENV_NAME=dev
API_URL=https://mi_api
VET_URL=https://url_vet
ADMIN_URL=https://url_admin
CLIENTES_URL=https://url_clientes

SUPABASE_URL=https://supabase_key
SUPABASE_ANON_KEY=supabase_anon

VET_EMAIL=test1
VET_PASSWORD=test1pawd
ADMIN_EMAIL=test2
ADMIN_PASSWORD=Test2_pasdw
CLIENTE_EMAIL=test3
CLIENTE_PASSWORD=Test3paswd

ID_CLINICA=89
ID_MASCOTA=5